
<h1 class ="text-center mt-4"> Listing all articles</h1> 
<div class="container">

<div class="row">
 <div class="col-md-5"></div>
 <div class="col-md-4">
      <div class="flickr_pagination">
        <%= will_paginate @user %>
      </div>
  </div>    
</div>

<%= render 'article' %>

<div class="row">
 <div class="col-md-5"></div>
 <div class="col-md-4">
      <div class="flickr_pagination">
        <%= will_paginate @user %>
      </div>
  </div>    
</div>