<div class= "container">
<div id="page-content">
<h1 class= "text-center mt-4"> Edit your profile</h1>


<%= render 'form', user: @user %>
<div class= "text-center">
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</div>