

<div class= "container">
<div id="page-content">
<h1 class= "text-center mt-4">Sign up for Alpha Blog</h1>



<%= render 'form', user: @user %>

<div class="text-center">
  <%= link_to 'Back', users_path %>
</div>

</div>
</div>



<br><br>
<br><br>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%=link_to "google","https://google.com" , class: "text-white" %></small>

      </div>
      </footer>